body {
    background: #121212;
    max-width: 80ch;
    margin: 0 auto;
    padding: 0 16px;
    color: #eeeeee;
}

a {
    color: #eeeeee;
}

hgroup {
    text-align: right;
    padding-right: 16px;
    border-right: 10px solid #eeeeee;
}

div.posts {
    max-width: 80ch;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2ch;
}

div.posts a {
    display: block;
    text-decoration: none;
}

div.post {
    position: relative;
    overflow: hidden;
    aspect-ratio: 2 / 1;
}

div.post hgroup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, transparent, rgb(0, 0, 0, 0.7));
    text-shadow: 0 1px 3px #000000;
    display: flex;
    flex-direction: column;
}

div.post hgroup h2 {
    margin-bottom: 4px;
}

div.post hgroup p {
    margin-top: 0;
    font-size: smaller;
}

div.post hgroup p.bottom {
    margin-top: auto;
}

div.banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 60ch) {
    div.posts {
        grid-template-columns: 1fr;
    }
}
