<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">

        <title>aironou.com.br</title>
        <meta property="og:title" content="aironou.com.br">

        <link rel="stylesheet" href="../assets/layouts/home.min.css">
    </head>
    <body>
        <hgroup>
            <h1>aironou.com.br</h1>
            <br>
            <tr>
                {% if lang != 'pt-BR' %}<td><a href="../pt-BR">português</a></td>{% endif %}
                {% if lang != 'en' %}<td><a href="../en">english</a></td>{% endif %}
                {% if lang != 'la' %}<td><a href="../la">latina</a></td>{% endif %}
            </tr>
        </hgroup>
        <br>
        <div class="posts">
            {% for post in posts %}
            <a href="../{{ post.url }}/{{ lang}}">
                <div class="post{% if post.banner %} banner{% endif %}">
                    {% if post.banner %}
                    <img src="../{{ post.url }}/{{ post.banner }}" alt="">
                    {% endif %}
                    <hgroup>
                        <h2>{{post.title}}</h2>
                        <p>{{post.subtitle}}</p>
                    </hgroup>
                </div>
            </a>
            {% endfor %}
        </div>
    </body>
</html>
