<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <meta charset="utf-8">

        <meta property="og:type" content="article">
        <title>{{title}}</title>
        <meta property="og:title" content="{{title}}">
        <meta name="description" content="{{subtitle}}">
        <meta property="og:description" content="{{subtitle}}">
        {% if banner %}<meta property="og:image" content="{{banner}}">{% endif %}

        <link rel="stylesheet" href="../../assets/layouts/default.min.css">
        {% if stylesheet %}<link rel="stylesheet" href="{{stylesheet}}">{% endif %}
    </head>
    <body>
        {% if title or banner %}
        <header class="{% if banner %}banner{% endif %}">
            {% if banner %}<img src="{{banner}}" alt="">{% endif %}
            {% if title %}
            <hgroup>
                <div class="row">
                    <a href="../../{{lang}}/" class="icon">☰</a>
                    <h1>{{title}}</h1>
                </div>
                <p>{{subtitle}}</p>
                <br>
                <nav class="langs" aria-label="Idiomas disponíveis">
                    {% if langs contains "pt-BR" %}<a href="../pt-BR">português</a>{% endif %}
                    {% if langs contains "en" %}<a href="../en">english</a>{% endif %}
                    {% if langs contains "la" %}<a href="../la">latina</a>{% endif %}
                </nav>
            </hgroup>
            {% endif %}
        </header>
        <br>
        {% endif %}

        {{ content }}

        {% if script %}<script src="{{script}}"></script>{% endif %}
    </body>
</html>
