body {
    background: #121212;
    color: #eeeeee;
    max-width: 80ch;
    margin: 0 auto;
    padding: 0 16px;
}

hgroup {
    text-align: right;
    border-right: 10px solid #eeeeee;
    padding: 0 16px;
}

hgroup h1 {
    margin-bottom: 4px;
}

hgroup p {
    margin-top: 0;
}

header.banner {
    position: relative;
}

header.banner hgroup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(to right, transparent, rgb(0, 0, 0, 0.7));
    text-shadow: 0 1px 3px #000000;
}

div.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.languages {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

a {
    color: #eeeeee;
}

a.icon {
    text-decoration: none;
    font-size: xx-large;
}

img {
    display: block;
    width: 100%;
    max-width: 80ch;
}

p {
    line-height: 1.5;
}

hr {
    width: 10ch;
    margin: 5ch auto;
}

blockquote {
    padding-left: 16px;
    border-left: 3px solid #eeeeee;
    margin: 4ch;
}

footer {
    margin: 12ch 0 7ch 0;
    text-align: center;
}