<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <meta charset="utf-8">

        <meta property="og:type" content="article">
        <title>{{title}}</title>
        <meta property="og:title" content="{{title}}">
        <meta name="description" content="{{subtitle}}">
        <meta property="og:description" content="{{subtitle}}">
        {% if banner %}<meta property="og:image" content="{{banner}}">{% endif %}

        <link rel="stylesheet" href="../../assets/layouts/default.min.css">
        {% if stylesheet %}<link rel="stylesheet" href="{{stylesheet}}">{% endif %}
    </head>
    <body>
        {% if title %}
        <hgroup>
            <div class="row">
                <a href="../../{{lang}}/" class="icon">☰</a>
                <h1>{{title}}</h1>
            </div>
            <p>{{subtitle}}</p>
            <br>
            <tr>
                {% if "pt-BR" in langs %}<td><a href="../pt-BR">português</a></td>{% endif %}
                {% if "en" in langs %}<td><a href="../en">english</a></td>{% endif %}
                {% if "la" in langs %}<td><a href="../la">latina</a></td>{% endif %}
            </tr>
        </hgroup>
        <br>
        {% endif %}

        {% if banner %}
        <img src="{{banner}}" alt="">
        <br>
        {% endif %}

        {{ content }}

        {% if script %}<script src="{{script}}"></script>{% endif %}
    </body>
</html>
