body {
    background: #121212;
    color: #eeeeee;
}

hgroup {
    text-align: right;
    padding-right: 16px;
    border-right: 10px solid #eeeeee;
}

div.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #eeeeee;
}

a.icon {
    text-decoration: none;
}